@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.list {
  background-color: rgb(136, 103, 246);
  color: white;
  padding: 10px;
  margin: 20px;
  border: solid 1px black;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
}
